
.genderSection {
  margin-top: 0.9rem;
  padding: 0.1rem;
  padding-left: 1rem;
  border-radius: 20px;
}

.genderSection span:nth-child(2) {
  float: right;
}

.genderSection:hover {
  cursor: pointer;
  background-color: rgb(57, 58, 68);
}