.nextBtn {
  pointer-events: all;
  margin-bottom: 2rem;
}

.nextBtn:enabled {
  background-color: rgb(235, 124, 20);
}

.nextBtn:enabled:hover {
  cursor: pointer;
  background-color: rgb(185, 101, 23);
}

.nextBtn:disabled {
  background-color: rgb(85, 85, 85);
  color: rgb(160, 160, 160);
}