.post-body {
  font-size: 0.95rem;
}

.comment-indent {
  padding-left: 1rem;
}

.comment-body {
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  margin: 0;
  white-space: pre-line;
}

.comment-likes {
  display: inline-block;
}

.link-more-comments {
  color: rgb(39, 39, 39);
  font-size: 0.9rem;
}

.link-more-comments:hover {
  color: rgb(121, 121, 121);
}

#add-a-comment-nologin {
  width: 30%;
  background-color: rgb(235, 235, 235);
}

#add-a-comment-nologin:hover {
  cursor: pointer;
  background-color: rgb(187, 187, 187);
  
}