.commentForm {
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #222;
}

.commentFormTextarea {
  border: none;
  outline: none;
  display: block;
  margin: auto;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.commentFormTextarea:empty:before{
  content:attr(placeholder);
  color:grey;
  background-color: transparent;;
}

.commentSubmitBtn {
  background-color: #1b3fc2;
  color: white;
  width: 7rem;
  float: right;
  border-radius: 20px;
}

.commentSubmitBtn:hover {
  background-color: #1232a5;
}

.commentCancelBtn {
  background-color: lightgray;
  color: black;
  width: 5rem;
  float: right;
  border-radius: 20px;
}

.commentCancelBtn:hover {
  background-color: #aaa;
}