#profile-row {
  display: flex;
  align-items: end;
  margin-left: 2rem;
}

#username-container {
  display: inline-block;
}

#username-heading, #username-heading-sm {
  margin-left: 1rem;
}

#username-heading {
  display: block;
  font-size: 1.5rem;
}

.tab-btn {
  margin-left: 1rem;
  padding: 0.5rem;
  border-style: none;
  border-radius: 25px;
}

.tab-btn, .tab-btn:focus, .tab-btn:active {
  outline: none;
}

.tab-btn:hover {
  cursor: pointer;
}

#user-info {
  padding: 1.5rem;
  width: 95%;
  height: 10rem;
  border-radius: 25px;
  background-color: black;
  color: white;
}

.user-info-values {
  font-size: 1rem;
}

.user-info-desc {
  font-size: 0.8rem;
  color: rgb(194, 194, 194);
}

#user-info .row .col-sm-4 {
  padding: 0.1rem;
}