
#siteNavbar {
  height: 3rem;
  display: flex;
  align-items: center;
}

.rightNavElement {
  margin-left: auto;
  margin-right: 1rem;
}

#loginBtn {
  margin-left: auto;
  background-color: rgb(235, 124, 20);
  color: rgb(243, 243, 243);
  border-radius: 25px;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}

#loginBtn:hover {
  cursor: pointer;
  background-color: rgb(185, 101, 23);
}

#user-btn:hover {
  cursor: pointer;
}

#postCreateBtn {
  border-style: none;
  font-size: 1.2rem;
  background-color: transparent;
}

#postCreateBtn:hover {
  cursor: pointer;
}

#postCreateBtn, #postCreateBtn:active, #postCreateBtn:focus {
  outline: none;
}