
#siteNavbar {
  height: 3rem;
  display: flex;
  align-items: center;
}

.rightNavElement {
  margin-left: auto;
  margin-right: 1rem;
}

#loginBtn {
  margin-left: auto;
  background-color: rgb(235, 124, 20);
  color: rgb(243, 243, 243);
  border-radius: 25px;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}

#loginBtn:hover {
  cursor: pointer;
  background-color: rgb(185, 101, 23);
}

#user-btn:hover {
  cursor: pointer;
}

#postCreateBtn {
  border-style: none;
  font-size: 1.2rem;
  background-color: transparent;
}

#postCreateBtn:hover {
  cursor: pointer;
}

#postCreateBtn, #postCreateBtn:active, #postCreateBtn:focus {
  outline: none;
}

#userProfile {
  width: 2.2rem;
  height: 2.2rem;
  transform: translateX(-1rem)
}

#userProfile:hover {
  cursor: pointer;
}

#dropDown {
  position: absolute;
  right: 1rem;
  left: auto;
  background-color: red;
  padding: 0.5rem;
  transform: translate(0.4rem);
  background-color: rgb(94, 94, 94);
  border-radius: 10px;
  z-index: 10;
}

.dropDownSection {
  color: rgb(233, 233, 233) !important;
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
}

.dropDownSection:hover {
  background-color: gray;
  cursor: pointer;
}