.post-body {
  font-size: 0.95rem;
}

.comment-form {
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #222;
}

#comment-form-textarea {
  border: none;
  outline: none;
  display: inline-block;
}

#comment-form-textarea:empty:before{
  content:attr(placeholder);
  color:grey;
  background-color: transparent;;
}

#comment-submit-btn {
  background-color: #1b3fc2;
  color: white;
  width: 7rem;
  float: right;
  border-radius: 20px;
  display: none;
}

#comment-submit-btn:hover {
  background-color: #1232a5;
}

#comment-cancel-btn {
  background-color: lightgray;
  color: black;
  width: 5rem;
  float: right;
  border-radius: 20px;
  display: none;
}

#comment-cancel-btn:hover {
  background-color: #aaa;
}

.comment-indent {
  padding-left: 1rem;
}

.comment-body {
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  margin: 0;
}

.comment-likes {
  display: inline-block;
}

.link-more-comments {
  color: rgb(39, 39, 39);
  font-size: 0.9rem;
}

.link-more-comments:hover {
  color: rgb(121, 121, 121);
}