.post {
  background-color: #f5f5f5;
  padding: 10px;
  margin: 20px;
}

.footing {
  background-color: #dbdbdb;
  padding: 8px;
  margin-right: 10px;
}

.link, .link:hover {
  color: black;
  text-decoration: none;
}

.link-comment:hover {
  background-color: #c7c6c6;
}

.link-upvote:hover {
  color: #039428;
}

.link-downvote:hover {
  color: #a5a5a5;
}